<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">DEVICES SHOP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isHome}}
        <li class="active"><a href="/">MAIN</a></li>
      {{else}}
        <li><a href="/">MAIN</a></li>
      {{/if}}

      {{#if isDevices}}
        <li class="active"><a href="/devices">DEVICES</a></li>
      {{else}}
        <li><a href="/devices">DEVICES</a></li>
      {{/if}}

      {{#if isAdd}}
        <li class="active"><a href="/add">ADD NEW DEVICES</a></li>
      {{else}}
        <li><a href="/add">ADD NEW DEVICES</a></li>
      {{/if}}

      {{#if isCard}}
        <li class="active"><a href="/card">BASKET</a></li>
      {{else}}
        <li><a href="/card">BASKET</a></li>
      {{/if}}

      {{#if isOrder}}
        <li class="active"><a href="/order">ORDER</a></li>
      {{else}}
        <li><a href="/order">ORDER</a></li>
      {{/if}}

    </ul>
  </div>
</nav>