<h1>add devices</h1>
{{#if error}}
  <p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="POST">
  <div class="row">
    <div class="input-field">
      <input
        name="type"
        id="deviceType"
        type="text"
        class="validate"
        required
        value="{{data.type}}"
      />
      <label class="active" for="first_name2">device type</label>
      <span
        class="helper-text"
        data-error="write a type"
        data-success="right"
      ></span>
    </div>
    <div class="input-field">
      <input
        name="price"
        id="price"
        type="number"
        class="validate"
        required
        value="{{data.price}}"
      />
      <label class="active" for="first_name2">device price</label>
      <span
        class="helper-text"
        data-error="write a price"
        data-success="right"
      ></span>
    </div>
    <div class="input-field">
      <input
        name="img"
        id="image"
        type="text"
        class="validate"
        required
        value="{{data.img}}"
      />
      <label class="active" for="first_name2">device logo url</label>
      <span
        class="helper-text"
        data-error="add logo url"
        data-success="right"
      ></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}" />
    <button class="btn btn-primary">Add device</button>
  </div>
</form>