<h1>Edit device info {{device.type}}</h1>
<form action="/devices/edit" method="POST">
  <div class="row">
    <div class="input-field">
      <input
        name="type"
        value="{{device.type}}"
        id="title"
        type="text"
        class="validate"
        required
      />
      <label class="active" for="first_name2">devices type</label>
      <span
        class="helper-text"
        data-error="write a type"
        data-success="right"
      ></span>
    </div>
    <div class="input-field">
      <input
        name="price"
        value="{{device.price}}"
        id="number"
        type="tel"
        class="validate"
        required
      />
      <label class="active" for="first_name2">devices price</label>
      <span
        class="helper-text"
        data-error="write a price"
        data-success="right"
      ></span>
    </div>
    <div class="input-field">
      <input
        name="img"
        value="{{device.img}}"
        id="image"
        type="text"
        class="validate"
        required
      />
      <label class="active" for="first_name2">devices logo url</label>
      <span
        class="helper-text"
        data-error="add logo url"
        data-success="right"
      ></span>
    </div>
    <input type="hidden" name="id" value="{{device.id}}" />
    <button type="submit" class="btn btn-primary">Edit device info</button>
  </div>
</form>
<form action="/devices/remove" method="post">
  <input type="hidden" name="id" value="{{device.id}}" />
  <button class="btn red">Remove device</button>
</form>